extends layout.pug
block content
	div.container
		form(method='POST', action='http://localhost:3000/posts/submit/'+post._id+'?_method=PUT')
				input#name(name='name', value=post.name)
				textarea#content(name='content')=post.content
				br
				input(type='submit', value='Submit', name='Submit')